.coaches {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 115px;

  @media (max-width: $max-tablet) {
    margin-bottom: 95px;
  }

  @media (max-width: $max-mobile) {
    margin-bottom: 65px;
  }
}

.coaches__inner {
  max-width: 1260px;
}

.coaches__container {
  display: flex;
  align-items: center;
}

.coaches__inner button:first-of-type {
  position: relative;
  cursor: pointer;
  min-width: 32px;
  min-height: 200px;
  background-color: transparent;
  background: url("../img/slider-arrow.svg") no-repeat;
  background-position: 50% 50%;
  transform: translateX(-32px);
  border: 0;

  &:hover {
    transform: scale(1.1) translateX(-32px);
  }

  @media (max-width: 1290px) {
    transform: translateX(-10px);

    &:hover {
      transform: scale(1.1) translateX(-10px);
    }
  }

  @media (max-width: $max-tablet) {
    transform: translateX(-34px);

    &:hover {
      transform: scale(1.1) translate(-34px);
    }
  }

  @media (max-width: $max-mobile) {
    background-size: 11px 32px;
  }

  @media (max-width: 599px) {
    transform: translateX(-7px);

    &:hover {
      transform: scale(1.1) translateX(-7px);
    }
  }

}

.coaches__inner button:last-of-type {
  position: relative;
  cursor: pointer;
  min-width: 32px;
  min-height: 200px;
  background-color: transparent;
  background: url("../img/slider-arrow.svg") no-repeat;
  background-position: 50% 50%;
  transform: rotate(180deg) translateX(-31px);
  border: 0;

  &:hover {
    transform: scale(1.1) rotate(180deg) translate(-31px);
  }

  @media (max-width: 1290px) {
    transform: rotate(180deg) translateX(-15px);

    &:hover {
      transform: scale(1.1) rotate(180deg) translate(-15px);
    }
  }

  @media (max-width: $max-tablet) {
    transform: rotate(180deg) translateX(-34px);

    &:hover {
      transform: scale(1.1) rotate(180deg) translate(-34px);
    }
  }

  @media (max-width: $max-mobile) {
    background-size: 11px 32px;
  }

  @media (max-width: 599px) {
    transform: rotate(180deg) translateX(-11px);
  }
}

.coaches__inner h2 {
  @include bebasneue-bold();
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  padding-left: 36px;
  margin: 0 0 54px;

  @media (max-width: $max-tablet) {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    margin: 0 0 43px;
  }

  @media (max-width: $max-mobile) {
    font-size: 32px;
    line-height: 32px;
    padding: 0;
  }
}

.coaches__slider {
  width: 100%;
  max-width: 1162px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;

  @media (max-width: $max-tablet) {
    max-width: 568px;
  }

  @media (max-width: $max-mobile) {
    max-width: 226px;
  }
}

.coaches__line {
  display: flex;
  transition: all 0.4s;
}

.coaches__person-card {
  position: relative;
  margin-right: 40px;
  flex-shrink: 0;
  cursor: pointer;

  &:last-child {
    margin: 0;
  }

  @media (max-width: $max-tablet) {
    margin-right: 31px;
  }

  @media (max-width: $max-mobile) {
    margin-right: 10px;
  }
}

.coaches__person-card img {
  width: 260px;
  height: 294px;

  @media (max-width: $max-tablet) {
    width: 268px;
    height: 294px;
  }

  @media (max-width: $max-mobile) {
    width: 226px;
    height: 274px;
  }
}

.coaches__person-card:hover {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $basic-color;
    width: 100%;
    height: 100%;
    opacity: 0.89;
  }
}

.coaches__person-card h3 {
  @include robotocondensed-bold();
  font-size: 18px;
  line-height: 27px;
  color: $basic-white;
  margin: 0;
  position: absolute;
  bottom: 27px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.coaches__person-card:hover h3 {
  bottom: 220px;

  @media (max-width: 1155px) {
    bottom: 202px;
  }
}

.coaches__person-card p {
  display: none;
}

.coaches__person-card:hover p {
  @include robotocondensed-regular();
  font-size: 16px;
  line-height: 24px;
  color: $basic-white;
  display: block;
  position: absolute;
  bottom: 199px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;

  @media (max-width: 1155px) {
    bottom: 179px;
  }
}

.coaches__person-card ul {
  display: none;
}

.coaches__person-card:hover ul {
  @include robotocondensed-regular();
  font-size: 14px;
  line-height: 26px;
  color: $basic-white;
  display: block;
  position: absolute;
  left: 73px;
  bottom: 57px;
  min-width: 135px;
  padding: 0;
  margin: 0;

  @media (max-width: 1155px) {
    bottom: 42px;
    left: 53px;
  }
}

.coaches__person-card li::marker {
  font-size: 20px;
  border-radius: 50%;
}


