.coaches {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 121px;

  @media (max-width: $max-tablet) {
    margin-bottom: 97px;
  }

  @media (max-width: $max-mobile) {
    margin-bottom: 65px;
  }
}

.coaches__inner {
  max-width: 1260px;
}

.coaches__container {
  display: flex;
  align-items: center;
}

.coaches__inner button:first-of-type {
  position: relative;
  cursor: pointer;
  min-width: 32px;
  min-height: 200px;
  background: transparent url("../img/slider-arrow.svg") no-repeat;
  background-position: 50% 50%;
  transform: translateX(-32px);
  border: 0;

  &:hover {
    transform: scale(1.1) translateX(-32px);
  }

  @media (max-width: 1290px) {
    transform: translateX(-10px);

    &:hover {
      transform: scale(1.1) translateX(-10px);
    }
  }

  @media (max-width: $max-tablet) {
    transform: translateX(-34px);

    &:hover {
      transform: scale(1.1) translate(-34px);
    }
  }

  @media (max-width: $max-mobile) {
    background-size: 11px 32px;
  }

  @media (max-width: 599px) {
    transform: translateX(-7px);

    &:hover {
      transform: scale(1.1) translateX(-7px);
    }
  }
}

.coaches__inner button:last-of-type {
  position: relative;
  cursor: pointer;
  min-width: 32px;
  min-height: 200px;
  background: transparent url("../img/slider-arrow.svg") no-repeat;
  background-position: 50% 50%;
  transform: rotate(180deg) translateX(-31px);
  border: 0;

  &:hover {
    transform: scale(1.1) rotate(180deg) translate(-31px);
  }

  @media (max-width: 1290px) {
    transform: rotate(180deg) translateX(-15px);

    &:hover {
      transform: scale(1.1) rotate(180deg) translate(-15px);
    }
  }

  @media (max-width: $max-tablet) {
    transform: rotate(180deg) translateX(-34px);

    &:hover {
      transform: scale(1.1) rotate(180deg) translate(-34px);
    }
  }

  @media (max-width: $max-mobile) {
    background-size: 11px 32px;
  }

  @media (max-width: 599px) {
    transform: rotate(180deg) translateX(-11px);

    &:hover {
      transform: scale(1.1) rotate(180deg) translate(-11px);
    }
  }
}

.coaches__inner h2 {
  @include bebasneue-bold();
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  max-width: 250px;
  padding-left: 36px;
  margin: 0 0 54px;

  @media (max-width: $max-tablet) {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    padding-left: 0;
    margin: 0 auto 43px;
  }

  @media (max-width: $max-mobile) {
    font-size: 32px;
    line-height: 32px;
    padding: 0;
    margin: 0 auto 43px;
  }
}

.coaches__slider {
  width: 100%;
  max-width: 1162px;
  height: 294px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;

  @media (max-width: $max-tablet) {
    max-width: 568px;
  }

  @media (max-width: $max-mobile) {
    max-width: 226px;
  }
}

.coaches__line {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.coaches__person-card {
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
  white-space: normal;
  margin: 0;

  &:last-child {
    margin: 0;
  }
}

.coaches__person-card > h3 {
  @include robotocondensed-bold();
  font-size: 18px;
  line-height: 27px;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: $max-tablet) {
    bottom: 28px;
    left: 51%;
  }
}

.coaches__person-card:hover > h3 {
  @media (min-width: $desktop) {
    display: none;
  }
}

.coaches__person-card img {
  vertical-align: top;
  width: 260px;
  height: 294px;
  width: 100%;

  @media (max-width: $max-tablet) {
    width: 268px;
    height: 294px;
  }

  @media (max-width: $max-mobile) {
    width: 226px;
    height: 274px;
  }
}

.coaches__experience {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: $coaches-background;
  text-align: center;
  padding: 52px 44px 10px;

  // &:hover {
  //   display: block;
  // }

  @media (max-width: 1250px) {
    padding: 15px;
  }

  @media (max-width: $max-tablet) {
    padding: 53px 40px 40px 34px;
  }

  @media (max-width: $max-mobile) {
    padding: 43px 33px 40px 38px;
  }

  @media (max-width: 680px) {
    padding: 23px 33px 40px 38px;
  }

  // @media (max-width: 600px) {
  //   padding: 43px 2px 40px 0;
  // }

  // @media (min-width: 351px) and (max-width: )

  @media (max-width: 350px) {
    padding: 43px 2px 40px 0;
  }
}

.coaches__person-card:hover .coaches__experience {
  @media (min-width: $desktop) {
    display: block;
  }
}

.coaches__person-card h3 {
  @include robotocondensed-bold();
  font-size: 18px;
  line-height: 23px;
  color: $basic-white;
  white-space: nowrap;
  margin: 0;
}

.coaches__person-card p {
  @include robotocondensed-regular();
  font-size: 16px;
  line-height: 24px;
  color: $basic-white;
  display: block;
  margin: 0 0 30px;
}

.coaches__person-card ul {
  @include robotocondensed-regular();
  font-size: 14px;
  line-height: 26px;
  color: $basic-white;
  display: block;
  text-align: left;
  list-style: none;
  padding: 0 0 0 27px;
  margin: 0;

  @media (max-width: $max-tablet) {
    padding: 0 0 0 37px;
  }

  @media (max-width: $max-mobile) {
    padding: 0 0 0 16px;
    min-width: 180px;
  }

  @media (max-width: 350px) {
    padding: 0 0 0 54px;
  }
}

.coaches__person-card li {
  position: relative;
  margin-bottom: 6px;

  &::before {
    content: "";
    position: absolute;
    top: 9px;
    left: -16px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $basic-white;
  }

  @media (max-width: $max-tablet) {
    margin-bottom: 6px;
  }
}

.coaches__person-card.coaches__person-card--active .coaches__experience {
  @media (max-width: $max-tablet) {
    display: block;
  }
}
