.free-lesson {
  width: 50%;
  flex: 1;
  background-color: $basic-color;

  @media (max-width: $max-tablet) {
    width: 100%;
  }
}

.free-lesson__inner {
  max-width: 683px;
  padding: 56px 170px 73px 103px;

  @media (max-width: $max-tablet) {
    max-width: 542px;
    padding: 68px 48px 73px 20px;
    margin: 0 auto;
  }

  @media (max-width: $max-mobile) {
    padding: 68px 15px 73px 15px;
  }
}

.free-lesson h2 {
  @include bebasneue-bold();
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $basic-white;
  margin: 0 0 38px;

  @media (max-width: $max-tablet) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $max-mobile) {
    font-size: 32px;
    line-height: 32px;
  }

  @media (max-width: 450px) {
    margin: 0 0 40px;
  }
}
