.page-footer {
  background-color: $footer;
  padding: 44px 103px;

  @media (max-width: $max-tablet) {
    padding: 44px 45px;
  }

  @media (max-width: $max-mobile) {
    padding: 44px 15px;
  }

  @media (max-width: 365px) {
    padding: 47px 15px 54px;
  }
}

.page-footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 400px) {
    flex-direction: column;
  }
}

.page-footer__logo {
  max-width: 120px;

  @media (max-width: $max-mobile) {
    margin: 0 30px 14px 0;
  }
}

.page-footer__logo svg {
  @media (max-width: $max-tablet) {
    width: 81px;
  }

  @media (max-width: $max-mobile) {
    width: 67px;
  }
}

.page-footer nav {
  display: flex;
  transform: translateX(17px);

  @media (max-width: $max-tablet) {
    transform: translate(27px, 5px);
  }

  @media (max-width: $max-mobile) {
    transform: none;
  }

  @media (max-width: 400px) {
    margin-bottom: 35px;
  }
}

.page-footer ul {
  @include robotocondensed-regular();
  font-size: 14px;
  line-height: 16px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (max-width: $max-mobile) {
    font-size: 16px;
    line-height: 19px;
  }

  &:first-child {
    margin-right: 40px;

    @media (max-width: $max-tablet) {
      margin-right: 30px;
    }

    @media (max-width: 680px) {
      flex-direction: column;
      margin-right: calc(100vw - 450px);
    }

    @media (max-width: 500px) {
      flex-wrap: wrap;
      margin-right: 63px;
    }
  }

  &:last-child {
    margin-right: 0;

    @media (max-width: $max-tablet) {
      margin-right: 30px;
    }

    @media (max-width: $max-mobile) {
      flex-wrap: wrap;
    }

    @media (max-width: 680px) {
      flex-direction: column;
    }

    @media (max-width: 550px) {
      margin-right: 10px;
    }
  }
}

.page-footer li {
  max-width: 70px;
  margin: 0 40px 0 0;

  @media (max-width: $max-tablet) {
    margin-right: 30px;
  }

  @media (max-width: $max-mobile) {
    margin-bottom: 22px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  &:last-child {
    margin: 0;
  }
}

.page-footer a {
  color: $basic-white;
}
