.shape {
  color: $basic-white;
  margin: 0;
  padding: 0;
}

.shape fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.shape__inputs-block {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 33px;

  @media (max-width: $max-tablet) {
    margin: 0 0 29px;
  }

  @media (max-width: 450px) {
    display: block;
  }
}

.shape__input-name-wrapper {
  width: 46%;
  margin-right: 30px;

  @media (max-width: $max-tablet) {
    margin-right: 50px;
  }

  @media (max-width: 450px) {
    width: 100%;
    margin-bottom: 37px;
  }
}

.shape__input-phone-wrapper {
  width: 46%;

  @media (max-width: 450px) {
    width: 100%;
    margin-bottom: 41px;
  }
}

.shape input {
  color: $basic-white;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $free-lesson-border;
  min-width: 100%;

  &:hover {
    border: 1px solid $free-lesson-border;
    margin: -1px;
  }

  &::placeholder {
    @include robotocondensed-regular();
    font-size: 14px;
    line-height: 16px;
    color: $basic-white;
  }
}

.shape button {
  @include robotocondensed-bold();
  font-size: 14px;
  line-height: 16px;
  display: block;
  width: 100%;
  background-color: transparent;
  border: 3px solid $basic-white;
  color: $basic-white;
  text-transform: uppercase;
  height: 52px;
  cursor: pointer;

  &:hover {
    background-color: $basic-white;
    color: $basic-color;
  }

  &:active {
    opacity: 0.6;
  }
}

.shape__error input {
  border: 3px solid $shape-error;
  margin: -3px;
}
