$basic-white: #FFFFFF;
$basic-color: rgba(16, 38, 84, 1);

$main-block-background: conic-gradient(from 130.31deg at 16.03% 39.06%, #B80027 -46.69deg, #003D85 32.24deg, #B80027 313.31deg, #003D85 392.24deg);
$main-block-button-hover: rgba(230, 19, 4, 1);
$main-block-phone-number-hover: rgba(16, 75, 163, 1);

$gym-video-button: linear-gradient(44.89deg, #003D85 25.38%, #B80027 74.89%);
$gym-video-buttom-context: linear-gradient(97.05deg, rgba(237, 2, 51, 0.2) 17.6%, rgba(0, 62, 183, 0.2) 95.31%);

$passes-background: rgba(248, 249, 252, 1);
$passes-tabs-text-active: rgba(16, 38, 84, 1);
$passes-tabs-text-passive: rgba(16, 38, 84, 0.5);
$passes-tabs-border: rgba(209, 10, 66, 1);

$max-desktop: 1366px;
$intermediate-tablet: 1188px;
$desktop: 1024px;
$max-tablet: 1023px;
$min-tablet: 768px;
$max-mobile: 767px;
$min-mobile: 320px;
